*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

label {
    width: 240px;
    display: inline-block;
    text-align: left;
}

select {
    width: 150px;
}

body {
    background-image: url("images/background.jpeg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    /* general text font */
    font: italic small-caps bold 16px/2 cursive;
}

header {
    background-color: orange;
    border: solid;
    border-color: beige;
    border-width: thick;

}

main {
    background-color: orange;
    border: solid;
    border-radius: 10% / 50%;
    border-width: thick;
    border-color: beige;
    margin: 50px 400px 20px;
    margin-bottom: 500px;
}

footer {
    width: 100%;

    background-color: orange;
    border: solid;
    border-color: beige;
    border-width: thick;

    position: absolute;
    padding: 70px 0;
}

.footer_container {
    max-width: 1170px;
    margin: auto;

    display:flex;
    flex-wrap: wrap;

    width:25%;
    padding: 0 15px;
}

.link_title {
    font-size: 18px;
    text-transform: capitalize;
}

.button {
    background-color: orange;
    border: none;
    color: darkgreen;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.emoji {
    width: 45pt;
    height: 45pt;
}