<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <footer>

        <section class="footer_headline">
            <h3>Made in Laustrup©</h3>
            <div>
                <h3>2021</h3>
            </div>
        </section>

        <section class="footer_elements">
            <div class="footer_container">
                <section class="about">
                    <h4 class="link_title">Details:</h4>
                    <div class="footer_col">
                        <ul>
                            <li><a href="/about">About beneath</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/privacy_policies">Privacy policies</a></li>
                        </ul>
                    </div>
                </section>

                <section>
                    <h4 class="link_title">Contact:</h4>
                    <div class="footer_col">
                        <ul>
                            <li><a href="">Email</a></li>
                            <li><a href="">Hotline</a></li>
                        </ul>
                    </div>
                </section>
            </div>

            <section class="follow_on">
                <h4 class="link_title">Follow us on:</h4>
                <div class="socials">
                    <ul>
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </section>
        </section>

    </footer>
</html>