<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8">

        <!-- stylesheets -->
        <link href="../../static/styles/global_style.css" th:href="@{/styles/global_style.css}" rel="stylesheet" />
        <link href="../../static/styles/footer.css" th:href="@{/styles/footer.css}" rel="stylesheet" />

        <!-- text fonts -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fuggles&display=swap" rel="stylesheet">

        <!-- head style -->
        <link rel="shortcut icon" type="image/jpeg" href="../static/images/Beneath_logo.jpg" th:href="@{/images/Beneath_logo.jpg}">
        <title th:text="${head_title}"></title>

    </head>
</html>